body{
	background-color: white;
}

.cv-container{
	max-width: 700px;
	margin: 50px auto;
	padding: 20px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.profile-img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}